<p style="color: green"><%= notice %></p>

<h1>Movies</h1>


<%= form_with url: movies_url, method: :get do |form| %>
  <%= radio_button_tag(:column, "title") %>
  <%= label_tag(:column, "title") %>
  <%= radio_button_tag(:column, "rating") %>
  <%= label_tag(:column, "rating") %>
  <%= radio_button_tag(:column, "release_date") %>
  <%= label_tag(:column, "release_date") %>

  <%= radio_button_tag(:sortby, "asc") %>
  <%= label_tag(:sortby, "asc") %>
  <%= radio_button_tag(:sortby, "desc") %>
  <%= label_tag(:sortby, "desc") %>
 
  <%= form.submit "Change order" %>
<% end %>

<div id="movies">
  <table> 
    <thead>
      <th> Title </th>
      <th> Rating</th>
      <th> Release</th>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%=movie.title%></td>
          <td><%=movie.rating%></td>
          <td><%=movie.release_date.to_date%></td>
          <td><%=movie.description%></td>
        </tr>
      <% end %>
    </tbody>
    <tfooter>
    </tfooter>
  </table>
  
</div>

