<style>
  .sorted{
    background: yellow;
  }
  .hide{
    display: none;
  }
</style>
<p style="color: green"><%= notice %></p>
<div style="padding-left: 500px">
<div style="text-align: center; background: #fadadd; max-width: 50%">
<h1>Movies</h1>

<%= form_with url: movies_url, method: :get do |form| %>
  <%= radio_button_tag(:column, "title") %>
  <%= label_tag(:column, "title") %>
  <%= radio_button_tag(:column, "rating") %>
  <%= label_tag(:column, "rating") %>
  <%= radio_button_tag(:column, "release_date") %>
  <%= label_tag(:column, "release_date") %>

  <%= radio_button_tag(:sortby, "asc") %>
  <%= label_tag(:sortby, "asc") %>
  <%= radio_button_tag(:sortby, "desc") %>
  <%= label_tag(:sortby, "desc") %>
 
  <%= form.submit "Change order" %>
<% end %>

<div id="movies">
  <table> 
    <thead>
      <th> Title 
        <span class="<%= 'hide' unless params[:column]== 'title' && params[:sortby]!= 'desc' %>">&#8593;</span> 
        <span class="<%= 'hide' unless params[:column]== 'title' && params[:sortby]== 'desc' %>">&#8595;</span> 
      </th>
      <th> Rating 
        <span class="<%= 'hide' unless params[:column]== 'rating' && params[:sortby]!= 'desc' %>">&#8593;</span> 
        <span class="<%= 'hide' unless params[:column]== 'rating' && params[:sortby]== 'desc' %>">&#8595;</span> 
      </th>
      <th> Release 
        <span class="<%= 'hide' unless params[:column]== 'release_date' && params[:sortby]!= 'desc' %>">&#8593;</span> 
        <span class="<%= 'hide' unless params[:column]== 'release_date' && params[:sortby]== 'desc' %>">&#8595;</span> 
      </th>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td class="<%= 'sorted' if params[:column]== 'title' %>"><%= link_to movie.title, movie %></td>
          <td class="<%= 'sorted' if params[:column]== 'rating' %>"><%=movie.rating%></td>
          <td class="<%= 'sorted' if params[:column]== 'release_date' %>"><%=movie.release_date.to_date%></td>
        </tr>
      <% end %>
    </tbody>
    <tfooter>
    </tfooter>
  </table>
  
  <button>
    <%= link_to "New movie", new_movie_path %>
  </button>
</div>
</div>
</div>



